.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:64px;
    height: 100%;
}

.loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:8px;
}